::-webkit-scrollbar {
    display: none;
}
body {
    font: 16px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    overflow: hidden;
    background: #222;
}
.robotValues {
	color: #FAEC29;
	font-size: xx-large;
	padding-bottom: 10px;
}
.valueBackground {
  background-color: #3f3f3f;
  height: 150px;
  width: 150px;
  line-height: 150px;
  color: #FAEC29;
  text-align: center;
  margin: auto;
  width: 50%;
}
.valueBackground2 {
  background-color: #303030;
  height: 150px;
  width: 150px;
  line-height: 150px;
  color: #FAEC29;
  text-align: center;
}
button, input[type="text"], input[type="number"], .select-container, select {
    color: white;
    background: #444;
    border: none;
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
}
.select-container {
    padding: 0;
    display: inline-block;
}
select {
    border: none;
    background: none;
    color: white;
    height: 25px;
}
input[type="text"], input[type="number"] {
    cursor: text;
}
input[type="checkbox"] {
    -webkit-filter: saturate(0);
    filter: saturate(0);
}
/* Major interface panes, aside, article, header, etc. */
body > * {
    padding: 10px;
    background: #222;
}
.widthHundred{
    width: 100%;
}
#camera {
    height: 400px;
    overflow: hidden;
    background-color: #3f3f3f;
    /* You'll need to mess with this a bit to get your camera to work. Replace the url with a live-updating image feed from your camera. Using other camera streaming systems will require some tweaking. */
    /*background-image: url('LINK TO CAMERA SOURCE HERE');*/
}
#camera1 {
    height: 400px;
    overflow: hidden;
    background-color: #3a3a3a;
    /* You'll need to mess with this a bit to get your camera to work. Replace the url with a live-updating image feed from your camera. Using other camera streaming systems will require some tweaking. */
    /*background-image: url('LINK TO CAMERA SOURCE HERE');*/
}
#camera2 {
    height: 400px;
    overflow: hidden;
    background-color: #2f2f2f;
    /* You'll need to mess with this a bit to get your camera to work. Replace the url with a live-updating image feed from your camera. Using other camera streaming systems will require some tweaking. */
    /*background-image: url('LINK TO CAMERA SOURCE HERE');*/
}
svg * {
    stroke: white;
    fill: #222;
    stroke-width: 2;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}
text {
    font-size: 16px;
    letter-spacing: 2px;
    stroke: none;
    fill: white;
}
